<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link type="text/css"  rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/webjars/jquery-ui/1.13.2/jquery-ui.css" />
  <link type="text/css" rel="stylesheet" href="/site.css" />
</head>

<body>
  <div style="
        width: 320px;
        height: 318px;
        position: absolute;
        top: 297px;
        left: 808px;
      ">
    <form class="row g-3" th:action="@{/perfil}" method="POST" th:object="${cliente}">
      <input type="hidden" th:field="*{id}">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" th:field="*{email}" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Senha</label>
        <input type="text" th:field="*{senha}" class="form-control" id="exampleFormControlInput2">
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Lembrar dados
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
  </div>

  <div style="width: 640px; height: 100vh; background-color: #4ac62cc9">
    <div style="
            position: absolute;
            width: 372px;
            height: 328px;
            top: 245px;
            left: 134px;
            overflow: hidden;
          ">
      <img src="/images/Logo-Sistema-Chamado.png" alt="Logo da Empresa" style="
              width: 100%;
              height: 100%;
              object-fit: contain; /* Mantém a proporção da imagem */
            " />
    </div>
  </div>
</body>

</html>